<!DOCTYPE html>
<html>
<head>
	<title>{title}</title>
	<link rel="stylesheet" href="{baseURL}/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="{baseURL}/static/css/login.css">
	<style> .navbar-static-top { margin-bottom: 19px;} </style>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">TMS</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{baseURL}/welcome.html">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact Us</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li id="user-login-disp" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<form id="login_form" action="">
									Username: <input name="username" type="text"> <br>
									Password: <input name="password" type="password"> <br>
									<button type="submit">Sign in</button>
								</form>
								<div id="login_errors"></div>
							</li>
						</ul>
					</li>
					<li><a href="#" id="user-name-disp"></a></li>
					<li><a href="#" id="user-logout-disp">Logout</a></li>
				</ul>
				<div id="session-menu"></div>
			</div>
		</div>	
	</nav>

	<div class="container">
		<div id="content">
		{content|s}
		</div>
	</div>

	<script src="{baseURL}/static/js/jquery.min.js"></script>
	<script src="{baseURL}/static/js/bootstrap.min.js"></script>
	<script src="{baseURL}/modules.js"></script>
	<script>
	var session_info;
$(function() {
	var session = require('session');

	$("#user-logout-disp").click(function(ev) {
		ev.preventDefault();
		session.logout(function(err, res) {
			if (err) {
				// Error logging out
			} else {
				// Successful logout
				$("#user-login-disp").show();
				$("#user-name-disp").hide();
				$("#user-logout-disp").hide();
			}
		});
	});

	session.info(function (err, info) {
		session_info = info;
		if (err) {

		} else {
			if (info.userCtx) {
				if (info.userCtx.name != null) {
					$("#user-login-disp").hide();
					$("#user-name-disp").html(info.userCtx.name).show();
					$("#user-logout-disp").show()
				} else {
					$("#user-login-disp").show();
					$("#user-name-disp").hide();
					$("#user-logout-disp").hide();
				}
			} else {
				$("#user-login-disp").show();
				$("#user-name-disp").hide();
				$("#user-logout-disp").hide();
			}
		}
	});


	$("#login_form").submit(function (ev) {
		ev.preventDefault();
		var username = $('input[name="username"]', this).val();
		var password = $('input[name="password"]', this).val();

		if (username && password) {
			session.login(username, password, function(err, info) {
				if (err) { // Problems with login
					$("#login_errors").html(err.toString());
				} else {
					//$("#session-menu").html('<ul class="nav navbar-nav navbar-right"><li><a href="#">'+info.name+'</a></li><li><a href="#">Logout</a></li></ul>');
					$("#user-login-disp").hide();
					$("#user-name-disp").html(info.name).show();
					$("#user-logout-disp").show();
				}
			});
		}
	});

	

});
	

	
	</script>
</body>
</html>
